<!-- <footer class="w-full h-full fixed text-white bg-gradient-to-b to-black from-transparent pb-10"> -->
<footer class="w-full h-24 text-gray-300 bg-gradient-to-b to-black from-transparent pt-5">
    <div class="container mx-auto flex flex-col justify-center items-center font-medium">
        <a href="https://github.com/MNAntunes02" target="_blank"><fa-icon [icon]="faGithub"></fa-icon>  MNAntunes02</a>
        <a href="https://www.instagram.com/antunes_alissu/" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon> @antunes_alissu</a>
    </div>
</footer>

