<div class="container h-[50vh] grid grid-flow-col overflow-x-scroll overflow-y-hidden gap-5 snap-x scrollbar-hidden shadow-inner shadow-black rounded-xl snap-proximity">
    <div id="bg1" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg ml-[400px]"></div>
    <div id="bg2" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg"></div>
    <div id="bg3" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg"></div>
    <div id="bg4" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg"></div>
    <div id="bg5" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg"></div>
    <div id="bg6" class="w-[800px] h-[400px] my-auto bg-slate-700 snap-center shadow-xl shadow-black rounded-lg mr-[400px]"></div>

    <button class="absolute w-10 h-10 bg-gray-400 rounded-full right-96 top-[48vh]"><fa-icon [icon]="faAngleRight"></fa-icon></button>
    <button class="absolute w-10 h-10 bg-gray-400 rounded-full left-96 top-[48vh] rotate-180"><fa-icon [icon]="faAngleRight"></fa-icon></button>
</div>